.post-title {
    text-align: center;
}

.post-content {
    > ul {
        > li {
            display: block;
            font-size: 20px;

            animation-name: fade-in-top;
            animation-duration: 1s;

            &:nth-child(even) {
                padding-left: 2%;
                padding-right: 5%;
            }

            &:nth-child(odd) {
                padding-left: 5%;
                padding-right: 2%;
                text-align: right;
            }

            > img {
                max-width: 100%;
                margin-top: 16px;
            }

            @media (min-width: 768px) {
                width: 50%;

                &:nth-child(even) {
                    margin-left: 50%;
                }

                > img {
                    max-width: none;
                }
            }
        }
    }
}