---
layout: default
---

<div class="home">
    <p class="info-text">
        Auf dieser Seite findest du eine Sammlung von Kurzanleitungen zu divesen Thematiken auf <a href="https://myftb.de">unserem Server</a>. 
        Du hast gute Kenntnisse in einem Bereich und möchtest anderen Spielern helfen? Dann <a href="https://github.com/MyFTB/guides">erstelle deine eigene Anleitung</a>!
    </p>

    <div class="guide-listing row">
        {% assign sorted_pages = site.pages | sort: 'title' %}
        {%- for iter_page in sorted_pages -%}
            {%- if iter_page.title -%}
            <div class="col-md-4 guide-container">
                <a href="{{ iter_page.url }}">
                    <div class="guide fade-in">
                        <div class="guide-thumbnail-container img-spacing-fix"><img class="guide-thumbnail" src="{{ iter_page.thumbnail }}"></div>
                        <div class="guide-text">
                            <p>{{ iter_page.title }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {%- endif -%}
        {%- endfor -%}
    </div>
</div>